<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be Amazing</title>
</head>

<body>
    <form method="post" action="{{ url_for('home') }}">
        <div class="container">
            <div class="header">
                <span class="title">Be Amazing</span><br><br>
                <label name="Psalm Number">Psalm Number:</label>
                <input type="text" name="psalm">
                <input type="submit" value="Submit">
            </div>
            <div class="quote-card">
                <div class="today-quote">Today's Bible Verse</div>
                {% if data %}
                    <h2>{{ title }}</h2>
                    <h3>{{ heading }} : {{ chapter_number }}</h3>
                    {% for value in data %}
                        <p><b>{{ value }}</b></p>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="action-bar">
                <span class="action-icon" id="left-arrow">←</span>
                <span class="action-icon" id="book_img"></span>
                <span class="action-icon" id="right-arrow">→</span>
            </div>
        </div>
    </form>

    <script>
        let touchstartX = 0;
        let touchendX = 0;

        const swipeThreshold = 100; // Minimum distance for a swipe to be registered
        const container = document.querySelector('.container');

        container.addEventListener('touchstart', function(event) {
            touchstartX = event.changedTouches[0].screenX;
        }, false);

        container.addEventListener('touchend', function(event) {
            touchendX = event.changedTouches[0].screenX;
            handleSwipe();
        }, false);

        function handleSwipe() {
            if (touchendX < touchstartX - swipeThreshold) {
                window.location.href = "{{ url_for('previous') }}";
            }
            if (touchendX > touchstartX + swipeThreshold) {
                window.location.href = "{{ url_for('refresh') }}";
            }
        }
    </script>
</body>

</html>
